:root {

    --brand-color: #846AFF;
    --brand-color-hover: #735edd;

    --dark-10: #121214;
    --dark-20: #7C7C8A;
    --dark-30: #EAEAEA;
    --dark-40: #EEEEFF;
    --dark-50: #F8F8FF;
    --dark-60: #FFFFFF;

    --font-primary: 'Roboto', Arial, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--dark-60);
    font-family: var(--font-primary);
}

img {
    max-width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 2rem;
    background-color: var(--brand-color);
    color: var(--dark-60);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    transition: background-color .2s ease;
}

.button:hover {
    background-color: var(--brand-color-hover);
}

.button:focus {
    outline: 2px solid var(--brand-color-hover);
}



/*================================*/
/*       MAIN         */
/*================================*/

#main section {
    display: flex;
    padding: 4rem 1rem;
}


#main section .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}



/*================================*/
/*   WORKFLOW SECTION   */
/*================================*/

#workflow {
    background-color: var(--dark-50);
    
}

#workflow .container {
    flex-direction: column;
    align-items: center;
}

#workflow .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#workflow-img {
    width: 70%;
}

#workflow .title,
#workflow .subtitle {
    text-align: center;
    color: var(--dark-10);
}

#workflow .title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 120%;
}

#workflow .title span {
    color: var(--brand-color);
}

#workflow .subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

#workflow .button {
    font-size: 0.875rem;
    font-weight: 700;
    width: 100%;
}



/*================================*/
/*   ARTIGOS SECTION   */
/*================================*/

.cards {
    display: grid;
    grid-template-columns: 330px;
    gap: 2rem;
}

.card {
    border: 2px solid var(--dark-40);
    border-radius: 8px;
    overflow: hidden;
    color: var(--dark-10);
}

.card-img {
    object-fit: cover;
    border-radius: 0;
    height: 175px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    justify-content: space-evenly;
}

.card-title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
}

.card-text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}


/*================================*/
/*      FORM      */
/*================================*/

#form {
    background-color: var(--dark-50);
}

#form .title {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--dark-10);
}

#form fielset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

#form input,
#form textarea {
    padding: 1rem 1.125rem;
    border: 1px solid var(--dark-30);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 400;
}

#form input:focus,
#form textarea:focus {
    outline: 1px solid var(--brand-color);
}

#form textarea {
    resize: none;
}

#form input::placeholder {
    color: var(--dark-20);
}

#form .button {
    margin-top: 2rem;
    width: 100%;
}



/*================================*/
/*      MEDIA QUERIES      */
/*================================*/

/*================================*/
/*      TABLETS      */
/*================================*/

@media (min-width: 768px) {

    /*================================*/
    /*   WORKFLOW SECTION   */
    /*================================*/

    #main #workflow {
        padding: 4rem 5rem;
    }

    #workflow .container {
        padding: 0 3rem;
    }

    #workflow .title {
        font-size: 2rem;
    }

    #workflow .subtitle {
        font-size: 1.25rem;
    }

    #workflow .button {
        font-size: 1.125rem;
        width: 50%;
    }



    /*================================*/
    /*   ARTIGOS SECTION   */
    /*================================*/

    #artigos .title {
        font-size: 1.75rem;
    }

    .cards {
        grid-template-columns: repeat(2,330px);
        grid-template-rows: repeat(3, 335px);
        row-gap: 2.5rem;
    }

    .card-img {
        height: 175px;
    }



    /*================================*/
    /*      FORM      */
    /*================================*/

    #form .title {
        font-size: 1.75rem;
    }

    #form input,
    #form textarea {
        font-size: 1.125rem;
        padding: 1rem 1.5rem;
    }

    #form .button {
        font-size: 1rem;
        padding: 1rem;
    }

}

/*================================*/
/*      DESKTOPS      */
/*================================*/

@media (min-width: 1280px) {

    /*================================*/
    /*   WORKFLOW SECTION   */
    /*================================*/
    
    #main #workflow .container {
        flex-direction: row-reverse !important;
        align-items: center;
        justify-content: space-between;
    }

    #workflow-img,
    #workflow .content {
        flex: 1;
        width: 50%;
    }

    #workflow .content {
        align-items: flex-start;
        text-align: left;
        gap: 2rem;
    }

    #workflow .title {
        font-size: 2.5rem;
    }

    #workflow .subtitle {
        font-size: 1.5rem;
    }

    #workflow .title,
    #workflow .subtitle {
        text-align: left;
    }

    #workflow-img {
        max-width: 400px;
    }


    
    /*================================*/
    /*   ARTIGOS SECTION   */
    /*================================*/

    #artigos .container {
        gap: 8rem !important;
    }

    #artigos .title {
        font-size: 2rem;
    }

    .cards {
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(2, 385px);
        row-gap: 2.5rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 1.125rem;
    }


    
    /*================================*/
    /*      FORM      */
    /*================================*/

    #form .container {
        align-items: center;
        width: 50%;
    }

    #form .container * {
        width: 100%;
    }

    #form .title {
        font-size: 2rem;
        text-align: center;
    }

}

